/* header title font
.main-header .logo {
  font-weight: bold;
  font-size: 15px;
}
*/

/* background color of header (logo part)
.skin-purple .main-header .logo:hover {
	background-color: purple ;
}
*/


/* */

.nav-tabs {
  display: flex ;
  justify-content: space-between;

}

.tabbable > .nav > li > a {
	background-color: #222d32;
	color: white ;
	width : 100%;
  font-size:1.5vw;
	text-align: center;
	border-radius: 10px;
	}


.tabbable > .nav > li[class=active]    > a {
	background-color: #605ca8;
	color:white ;
  font-size:1.5vw;
	text-align: center;

/*


.tabbable > .nav > li > a {
	background-color: #9370DB;
	color:black ;
	height: 50px ;
	}



.tabbable > .nav > li[class=active]    > a {
	 background-color: #7B68EE;
	 color:white;
	 width : 200 px ;
	 font-size: 15px}
*/
